[Desktop Entry]
Version=1.0
Type=Application
Name=Screen Capture & Recorder
Name[zh_TW]=螢幕錄影與截圖軟體
Comment=Single-window Screen Capture and Video Recorder for Ubuntu Linux
Exec=/home/user/program/video/run.sh
Icon=media-record
Terminal=false
Categories=Utility;AudioVideo;Recorder;
StartupNotify=true
